.header {
  position: sticky;
  background-color: #f6f6f6;
  color: #212121;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  //margin: 0 auto;

  nav {
    a {
      color: #212121;
      text-decoration: none;
      margin: 0 1rem;
      font-weight: 600;
      transition: transform 0.2s ease;
      text-transform: uppercase;
      font-size: 16px;
      transform: scale(1);
      display: inline-block;

      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 3px;
        transform: scale(1.1);
      }
    }
  }

  button {
    padding: 10px 16px;
  }
}

@media (max-width: 720px) {
  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.headerLogo {
  margin-left: 20px;

  a {
    color: #212121;
    text-decoration: none;
    font-size: 20px;
  }
}

.logo {
  color: #212121;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.login_btn {
  background-color: #01032d;
  color: white;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
}
