.header {
  position: sticky;
  background-color: #f6f6f6;
  color: #000;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav {
    a {
      color: #000;
      text-decoration: none;
      margin: 0 1rem;
      font-weight: 600;
      transition: color 0.3s ease;
      text-transform: uppercase;

      &:hover {
        color: darkgray;
      }
    }
  }

  button {
    padding: 10px 16px;
  }
}

.logo {
  color: #000;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.login_btn {
  background-color: green;
  color: white;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
}
