.image-spinner {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.image-spinner img {
  flex: 0 0 auto;
  max-width: 100%;
  height: auto;
  margin-right: 10px; 
  transition: transform 0.2s ease-in-out;
}

.image-spinner img:last-child {
  margin-right: 0;
}

.image-spinner:hover img {
  transform: scale(1.1); 
}
