.userProfile {
  position: absolute;
  top: 114px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  text-align: center;
  z-index: 999;

  @media (max-width: 720px) {
    top: 207px;
  }

  @media (max-width: 413px) {
    top: 226px;
  }
}

.welcomeText {
  font-size: 24px;
  font-weight: bold;
}
