/* VenueDetails.module.scss */

.venueDetails {
  background-color: #f5f5f5; /* Set a subtle background color or texture */
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px 20px 100px;
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  grid-column: span 2;
  justify-content: center; /* Center align the images */
}

.image {
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  object-fit: cover;
}

.name {
  grid-column: span 2;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.meta {
  grid-column: span 2;
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 5px;
      display: flex;
      align-items: center;
      svg {
        width: 20px; /* Adjust the size of icons */
        margin-right: 5px; /* Add space between icons and text */
      }
    }
  }
}

.description {
  margin-bottom: 20px;
  font-size: 1.1rem; /* Slightly increase font size for better readability */
  line-height: 1.4; /* Adjust line height for better spacing */
}

.details {
  margin-bottom: 10px;
}

.location {
  margin-bottom: 10px;
}

.price {
  grid-column: span 2;
  font-weight: bold;
  margin-top: 20px; /* Add spacing between the content and the price */
}

.calendar_container {
  margin-top: 20px;
  background-color: #fff; /* Add a white background for the calendar container */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.booking_form {
  margin-top: 20px;
  background-color: #fff; /* Add a white background for the booking form */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
